// Build Stylesheet header Infos
@import "wpheader";

// Additional colors for colorset
@import "add-colors";

// Overwrite second color
@import "change-second-color";

// Fix blogroll display after full width section
@import "blogroll-fix";

#colophon {
	background-image: url('./img/bottomright.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}
